
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-yellowtail: "Yellowtail", cursive;
}